<mat-card>
  <h2>Produits de votre panier</h2>

  <div *ngFor="let product of products">

    <div *ngIf="product.nbInCart > 0">
        <mat-card>
      <h3>
        <div class="title">
          {{ product.name }} (x {{ product.nbInCart}} )
        </div>
      </h3>

      <p *ngIf="product.description">
        {{ product.description }}
      </p>

      <p *ngIf="product.price">
        {{ product.price}}€
      </p>

      <button mat-raised-button color="warn" class="bouton" (click)="removeAlert(); shoppingCartService.removeFromCart(product.id); badge()">
        <span class="material-icons">delete</span>
      </button>
        </mat-card>
      </div>

<br>
  </div>

  <br>

  <h3>
    <div class="total-price">
    <div class="title">
      Prix Total :
    </div>
      <div>
     {{sum}}€
      </div>
      </div>
  </h3>

  <br>
  <div class="box">
    <div>
      <button mat-raised-button color="warn" class="bouton" (click)="removeAllAlert(); removeAllCart(); canceled(); badge()">
        Vider le panier
      </button>

    </div>
    <div>
      <button mat-raised-button color="accent" class="bouton" (click)="buyAlert(); removeAllCart(); buy(sum); badge()">
        Acheter
      </button>

    </div>
  </div>


</mat-card>
