<mat-card>
<h2>Produits en vente</h2>

<div *ngFor="let product of products">
  <mat-card>

  <h3>
    <div class="productsNames">
      {{ product.name }}
    </div>
  </h3>

  <p *ngIf="product.description">
    {{ product.description }}
  </p>

    <p *ngIf="product.price">
      {{ product.price}}€
    </p>

  <button mat-raised-button color="accent" class="bouton" (click)="add(); shoppingCartService.incrementBadge()">
    Ajouter au panier
  </button>




    </mat-card>
  <br>
</div>

</mat-card>

