<div *ngFor="let c of cart">
<mat-card>
  <h2>Dashboard</h2>

<h3>
  <div class="title">
    Nombre de commandes passées :
  </div>
  <p *ngIf="c.nbOrders">
  {{c.nbOrders}}
  </p>
  </h3>

 <br>

  <h3>
  <div class="title">
    Nombre de paniers abandonnés :
  </div>
    <p *ngIf="c.nbAbandonedOrders">
      {{c.nbAbandonedOrders}}
    </p>
  </h3>

 <br>

  <h3>
  <div class="title">
    Argent total perçu :
  </div>
    <p *ngIf="c.money">
      {{c.money}}
    </p>
  </h3>

</mat-card>
</div>





