@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body {
margin: 0;
font-family: Roboto, "Helvetica Neue", sans-serif;
color: #616161;
}

a {
  cursor: pointer;
  font-weight: bold;
}

a:hover {
  opacity: 0.8;
}

app-products a{
  color: #1976d2;
  text-decoration: none;
}

.boutons-top-bar{
  background-color: white;
}

.bouton:hover {
  opacity: 0.8;
  font-weight: normal;
}

.box {
  display: flex;
  justify-content: space-around;
}

.productsNames{
  font-weight: bold;
  color: #683ab7;
}


